server {
    listen [::]:80;
    listen 80;

    server_name {{ server_fqdn }};

    location / {
        proxy_set_header        Host $host:$server_port;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        proxy_pass          http://127.0.0.1:{{ service_port }};
        proxy_read_timeout  90;

        proxy_redirect      http://127.0.0.1:{{ service_port }} https://{{ server_fqdn }};

        proxy_http_version 1.1;
        proxy_request_buffering off;
        add_header 'X-SSH-Endpoint' '{{ server_fqdn }}:50022' always;
    } 
}
